/* IMPOSTAZIONI GENERALI */
body {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn button {
    margin-left: 20px;
    padding: 10px 25px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* HEADER */
header {
    background-color: #ffc017;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 7%;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
}

header img {
    margin-right: auto;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}



/* MAIN */
#mainTitle {
    background-color: #ffc017;
    border-bottom: 1px solid;
    padding-left: 5.5rem;
}

#titolo {
    font-size: 1.3rem;
    padding: 93px 0;
    display: flex;
    flex-direction: column;

}

#titolo h1 {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 5rem;
    margin-bottom: 50px;
}

#titolo p {
    margin-bottom: 50px;
}

#titolo a {
    margin-left: -20px;
}

#mainTitle svg {
    display: none;
}